{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <section id="one" class="wrapper style2">
            <div class="inner">
                <div>
                    <div class="box">
                        {% if post.image %}
                            <div class="image fit">
                                <img src="{{ post.image }}" alt="" />
                            </div>
                        {% endif %}
                        <div class="content">
                            <header class="align-center">
                                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                                <p>published: {{ post.published_date }}</p>
                            </header>
                            <hr />
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}

